.vs/ThirtyDaysOfCode/v14/.suo
ThirtyDaysOfCode/bin/Debug/ThirtyDaysOfCode.exe
ThirtyDaysOfCode/bin/Debug/ThirtyDaysOfCode.exe.config
ThirtyDaysOfCode/bin/Debug/ThirtyDaysOfCode.pdb
ThirtyDaysOfCode/obj/Debug/ThirtyDaysOfCode.csprojResolveAssemblyReference.cache
ThirtyDaysOfCode/obj/Debug/ThirtyDaysOfCode.exe
ThirtyDaysOfCode/obj/Debug/ThirtyDaysOfCode.pdb